.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #0c0707;
}

.container {
  padding-top: 30vh;
}

.header-app {
  display: flex;
  font-size: calc(1rem + 2vw);
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.app-logo {
  height: 6vw;
  min-height: 10vh;
}

.banner {
  margin: 2% 0;
  color: #7e67bd;
}

p {
  color: #fff;
  font-size: calc(1rem + 1vw);
}

.home-picture {
  height: 40vh;
  margin: 10vh 0;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.9);
}

h1 {
  color: #fff;
}

.button {
  margin: 4vh 0;
  padding: 0 3vw;
}

/*SkillCards*/
.image-reducer {
  max-height: 10em;
  max-width: 10em;
}
.card-char {
  border: 10px solid #ccc;
  margin : 2px;
  padding : 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  background-color: black;
  
}
.container.card {
 display: flex;
 justify-content: center;
 width: 70%;

}
ul{
  list-style-type: none; 
}

.egg {
  position: absolute;
  bottom: -55vh;
  right: -3vh;
  z-index: 10000;

}

