@import url("https://fonts.googleapis.com/css?family=Sniglet");

* {
  font-family: Sniglet, cursive;
}

a {
  display: flex;
  align-items: flex-end;
  margin-left: 2rem;
}

a img {
  transition: 0.5s;
}

a:hover img {
  transform: translate(1rem);
}

.banner {
  font-size: calc(1rem + 1.5vw);
  margin: 2% 0;
  color: #7e67bd;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #0c0707;
  width: 100vw;
}

.container {
  padding-top: 30vh;
}

.header-app {
  display: flex;
  font-size: calc(1rem + 2vw);
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.app-logo {
  height: 5vw;
  min-height: 10vh;
}

p {
  font-size: calc(1rem + 1vw);
}

.home-picture {
  height: 40vh;
  margin: 10vh 0;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.9);
}

h1,
p,
.button:hover,
.text-color {
  color: #fff;
}

.button {
  margin: 4vh 0;
  padding: 0 3vw;
  transition: 0.2s;
}

/*SkillCards*/

.card-char {
  margin: 14vh 10vw;
  width: 17em;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-char img {
  border: 5px solid #7e67bd;
  box-shadow: 0.5rem 0.5rem 1.5rem black;
  border-radius: 1em;
  height: 35vh;
}

ul {
  list-style-type: none;
  text-align: left;
}

ul li {
  font-size: calc(0.5rem + 0.8vw);
  font-family: sans-serif;
}

.separation {
  height: 0.3rem;
  width: 4rem;
  border-radius: 3px;
  background: #7e67bd;
  margin: 2vh auto 6vh auto;
}

.egg {
  position: fixed;
  bottom: -55vh;
  right: -3vh;
  z-index: 10000;
}

.card-design {
  margin: 2vh 0;
  border: 4px solid white;
  border-radius: 0;
}

.card-clicked {
  border: 4px solid #7e67bd;
}

.card-design:hover:after,
.card-clicked:hover:after {
  content: attr(title);
  background: #463a69e5;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  padding: 0.1rem;
  color: white;
  border-radius: 3px;
  font-family: sans-serif;
}

.card-img {
  height: 213px;
  width: auto;
}

.card-design:hover {
  cursor: pointer;
}

.bg {
  background: #fff;
}

select {
  width: 15vw;
  transform: translate(5rem);
}

.cards-name {
  padding-top: 8vh;
}

.egg-pic-div {
  margin: 10vh 0;
}

.egg-info {
  margin: 3vh 0;
}

.submit {
  margin: 5vh 0;
}
