body,
html {
  width: 100%;
  justify-content: center;
}

body,
html,
svg {
  height: 100%;
  position: relative;
  display: flex;
}

#svg1 {
  animation: oeuf linear infinite;
  transform-origin: 30%;
  -webkit-animation: oeuf 3s infinite;
  animation-direction: alternate;
  padding-top: 100px;
}

@keyframes oeuf {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes oeuf {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
  }
  41% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}